<h1 id="title" class="title" style="text-align: center;">Sign In</h1>

<mat-card style="max-width: 480px; margin: 0 auto;">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf='!isLoading' (submit)='onLogin(loginForm)' #loginForm="ngForm">
    <mat-form-field  appearance="fill">
      <mat-label>e-mail</mat-label>
      <input matInput type="email" name="email" ngModel required email placeholder="e-mail" #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">"please enter valid email"</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input type="password" name="password" ngModel matInput placeholder="password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">"please enter valid password"</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading" style="margin: 0 auto;display: block;">Login</button>
  </form>
</mat-card>

<section class="another-action" aria-label="Register" style="text-align: center; margin-top: 8px;">
  Don't have an account? <a class="text-link" routerLink="/signup">Sign Up</a>
</section>
